body{

	font-family: helvetica, arial, sans-serif;
}

.header-color

{
	background-color: #4867aa;

}

.header-text{
	color: white;
	font-size: 14px;
	margin-top: 10px;
}
.form-style{
	border: 1px solid #bdc7d8;
	color: black;
	width:100%;
}

.body-color
{
	background: linear-gradient(white, #D3D8E8);

}


@media only screen and (min-width: 992px) {
   .lan{
margin-left:-16px;
}
}




.butt{
	width: 250px;
	height: 40px;
	background: linear-gradient(#67ae55, #578843);
	    border-color: #3b6e22 #3b6e22 #2c5115;
	    text-align: center;
	        border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
@media only screen and (max-width: 992px) {
   .butt{
width:100%;
}
}

footer
{
	background-color: white;
	#365899	

}
.fot-styl
{
 margin-top: 15px;

}



.forstl
{
padding: 8px 18px; 
font-size: 18px;
border-radius:5px;
margin: 0px 0;
 border-width:1px;
 border-color: #bdc7d8;
 width:100%;
}

.bcolr {
	background-color:#D3D8E8;



}
.boxcent
{

	background-color: white;
	border:1px solid #bdc7d8;
	
	margin-top: 100px;
	padding-top: 30px;
	font-size: 12px;
	padding-bottom: 50px;
	margin-bottom: 100px;
}
.st1{

	text-align:right;
	
	}

	@media only screen and (max-width: 990px) {
.st1{

	text-align:left;
	}
}

.hig{


	margin-top:20px
}


.box2{
 
 background-color: white;
	border:1px solid #bdc7d8;
	
	margin-top: 20px;
	padding-top: 10px;
	font-size: 14px;
	padding-bottom: 50px;
	margin-bottom: 5px;

}
.topar{
	margin-top: 20px;

}

.higd{

	height: 400px;
	margin-top: 10px;
	margin-bottom: 100px;
}